@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

.dot-replace {
    position: absolute;
    top: -0.5rem; /* Adjust vertical position */
    left: 0.1rem; /* Adjust horizontal position */
    height: 1rem;
    width: 1rem;
    background-image: url('./assets/icon-heart.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
  }

  .HideMenu{
  display: none;
  }

  .ShowMenu{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  width: 50%;
  height: calc(100% - 59px);
  background: linear-gradient(90deg, rgba(164,99,186,1) 0%, rgba(138,63,152,1) 100%);
  padding: 16px 44px;
  bottom:0;
  right:0;
  z-index: 20;
}

.ShowMenu>ul >li{
  margin:28px 0;
  color: #e9ebef;
  font-size: 16px;
  text-align: center;
}